<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 会员管理系统</title>

    <link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui/themes/metro-red/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui/themes/icon.css">
    
</head>
<body >
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" style="text-align:center;">
            @RenderBody()
        </div>
        <div data-options="region:'south',split:false" style="height:40px;text-align:center;">
            <p>&copy; @DateTime.Now.Year - 凌锋</p>
        </div>
    </div>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-easyui/jquery.easyui.min.js"></script>
</body>
</html>