<!-- home section -->
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-3"></div>
            <div class="col-md-7 col-sm-9">
                <h4>致力于打造更完善，更便捷的消息推送平台，让消息在各种终端之间畅通无阻.</h4>
            </div>
        </div>
    </div>
</div>

<!-- divider section -->
<div class="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="divider-wrapper divider-one">
                    <i class="fa fa-laptop"></i>
                    <h2>快速</h2>
                    <p>高效的云服务器<br/><br /></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="divider-wrapper divider-two">
                    <i class="fa fa-mobile"></i>
                    <h2>便捷</h2>
                    <p>支持多种标准消息协议，集成各种SDK，接入微信，QQ等多种消息平台</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="divider-wrapper divider-three">
                    <i class="fa fa-life-ring"></i>
                    <h2>专业</h2>
                    <p>支持Jabber等多种国际标准协议,<br /><br /></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about section -->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="~/Content/Images/about-img.jpg" class="img-responsive" alt="about img">
            </div>
            <div class="col-md-6 col-sm-12 about-des">
                <h2>产品</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
                <a href="about.html" class="btn btn-default">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>

<!-- portfolio section -->
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <h2>案例</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
            </div>
        </div>

        <div class="row mt30">

            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="~/Content/Images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Content/Images/portfolio-img1.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="~/Content/Images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Content/Images/portfolio-img2.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="~/Content/Images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Content/Images/portfolio-img3.jpg" alt="portfolio img"></a>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="~/Content/Images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Content/Images/portfolio-img4.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="~/Content/Images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Content/Images/portfolio-img5.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="~/Content/Images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Content/Images/portfolio-img6.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="~/Content/Images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="~/Content/Images/portfolio-img7.jpg" alt="portfolio img"></a>
            </div>
            <div class="col-md-12 col-sm-12">
                <a rel="nofollow" href="http://sc.chinaz.com" class="btn btn-default">View More</a>
            </div>
        </div>
    </div>
</div>
